<main class={{pageMainClass}}>
	<section class="container">
    	<div class="row profileInfo">
		<div class="col-12">
			<div class="row">
				<div class="col-6 col-lg-3 profPic">
		          {{!-- <img src="{{profPic}}" class="img-fluid imgR" alt="profile photo" /> --}}
		        </div>
		        <div class="col-6 col-lg-3">
					<p>{{fname}} {{lname}}</p>
					<p>{{email}}</p>
					<p>{{phone}}</p>
				</div>
				<div class="col-12 col-lg-3">
					<h1 class=" settingsHead">
			  			Settings
			  		</h1>
			  	</div>
			</div>
		</div>
	</div>
	<hr class="divider">
		<section class="row changePayment">
			{{#each payments}}
			<!--payment options loaded in here. variables: {{this.name}}, {{this.exp}},{{this.active}}-->
				<div class="payOption">
					<p></p>
					<p></p>
					<p></p>
				</div>
			{{/each}}
		</section>
	</section>
</main>