<main class={{pageMainClass}}>
  <div  class="container">
    <div class="row profileInfo">
      <div class="col-12">
        <div class="row">
          <div class="col-6 col-lg-3 profPic">
                {{!-- <img src="{{profPic}}" class="img-fluid imgR" alt="profile photo" /> --}}
              </div>
              <div class="col-6 col-lg-3">
            <p>{{fname}} {{lname}}</p>
            <p>{{email}}</p>
            <p>{{phone}}</p>
          </div>
          <div class="col-12 col-lg-3">
            <h1 class=" settingsHead">
                Profile Settings
              </h1>
            </div>
        </div>
      </div>
    </div>
  <hr class="divider">
    <section class="row">
      <div class="col-12 col-md-6 profileDetails" id="profileDetails">
        <h2 class="settingsSubHead">Verified Information</h2>
        <figure>
          {{!-- <div class="">
            <img src={{newPic}}>
          </div> --}}
          <div class="">
            <p>Username:  {{username}}</p>
          </div>
          <div class="">
            <p>Email:  {{email}}</p>
          </div>
          <div class="">
            <p>Phone:  {{phone}}</p>
          </div>
          <div class="">
            <p>Address:  {{address}}</p>
          </div>
          <div class="row editBtn">
            <button class="btn btn-primary profEdit" id="profEdit">Edit</button>
          </div>
        </figure>
      </div>
      <div class="col-12 col-md-6 profileEdit d-none" id="profileEdit">
        <form class="editProfForm" action="/submit/profupdate" method="POST">
          <h2>Edit Profile</h2>
          <label for="username">Username</label>
          <input class="form-control editField" type="text" id="username" name="username" value="{{username}}">
          <label for="email">Email</label>
          <input class="form-control editField" type="email" id="email" name="email" value="{{email}}">
          <label for="phone">Phone</label>
          <input class="form-control editField" type="tel" id="phone" name="phone" value="{{phone}}">
          <label for="address">Address</label>
          <input class="form-control editField" type="text" id="address" name="address" value="{{address}}">
          <input type="submit" class="btn btn-primary" value="submit">
          <input type="button" class="btn btn-danger" id="cancel" value="cancel">
        </form>
      </div>
    </section>
  </div>
</main>