<main class={{pageMainClass}}>
  <div  class="container">
    <div class="row profileInfo">
      <div class="col-12">
        <div class="row">
          <div class="col-6 col-lg-3 profPic">
                {{!-- <img src="{{profPic}}" class="img-fluid imgR" alt="profile photo" /> --}}
              </div>
              <div class="col-6 col-lg-3">
            <p>{{fname}} {{lname}}</p>
            <p>{{email}}</p>
            <p>{{phone}}</p>
          </div>
          <div class="col-12 col-lg-3">
            <h1 class=" settingsHead">
                Profile Settings
              </h1>
            </div>
        </div>
      </div>
    </div>
  <hr class="divider">
    <section class="row">
      <div class="col-12 profEdit">
        <h3>Verified Information</h3>
        <figure>
          <div class="">
            <img src={{newPic}}>
            <button type="button" class="btn-dark">Upload New Profile Image</button>
          </div>
          <div class="">
            <p>Username: {{username}}</p>
            <button type="button" class="btn-dark">Edit</button>
          </div>
          <div class="">
            <p>Email: {{email}}</p>
            <button type="button" class="btn-dark">Edit</button>
          </div>
          <div class="">
            <p>Phone: {{phone}}</p>
            <button type="button" class="btn-dark">Edit</button>
          </div>
          <div class="">
            <p>Address: {{address}}</p>
            <button type="button" class="btn-dark">Edit</button>
          </div>
        </figure>
      </div>
    </section>
  </div>
</main>