<main class="{{pageMainClass}}">
	<main class={{pageMainClass}}>
  <div  class="container">
    <div class="row profileInfo">
      <div class="col-12">
        <div class="row">
          <div class="col-6 col-lg-3 profPic">
                {{!-- <img src="{{profPic}}" class="img-fluid imgR" alt="profile photo" /> --}}
              </div>
              <div class="col-6 col-lg-3">
            <p>{{fname}} {{lname}}</p>
            <p>{{email}}</p>
            <p>{{phone}}</p>
          </div>
          <div class="col-12 col-lg-3">
            <h1 class=" settingsHead">
                Profile
              </h1>
            </div>
        </div>
      </div>
    </div>
    <section class="row">
      <h2>Recent Rides</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Price</th>
            <th scope="col">Car</th>
            <th scope="col">Start Location</th>
          </tr>
        </thead>
        <tbody>
          {{#each rides}}
            <tr>
              <td>{{this.start}}</td>
              <td>{{this.end}}</td>
              <td>{{this.price}}</td>
              <td>{{this.car}}</td>
              <td>{{this.start_location}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </div>
</main>
</main>