<main class={{pageMainClass}}>
	<section class="container">
		<div class="row rentalTxt">

		</div>
		<div class="row mapContainer">
			<figure class="mapArea">
				<img class="map" src={{map}} />
			</figure>
		</div>
		<div class="row carList">
			<!--cars will be rendered here. variables:{{this.make}},{{this.model}},{{this.year}},{{this.type}},{{this.color}},{{this.seats}},{{this.doors}},{{this.img}}-->
			{{#each cars}}

			{{/each}}
		</div>
	</section>
</main>