<main class={{pageMainClass}}>
<section class="container settings">
	<div class="row profId">
		<div class="col-md">
			<img src={{profPic}} alt="profile photo" />
		</div>
		<div class="col-md">
			<p>{{fname}} {{lname}}</p>
			<p>{{email}}</p>
			<p>{{phone}}</p>
		</div>
	</div>
  		<p class="settingsTxt">
  			Settings
  		</p>
  	<section class="row profileSettings">
  		<p class="profileSettingsTxt">
  			Profile Settings
  		</p>
 	</section>
  	<section class="row savedPlaces">
  		<p class="savedPlacesTxtt">
  			Saved Places
  		</p>
	</section>
  	<section class="row privacy">
  		<p class="privacyTxt">
  			Privacy
  		</p>
  	</section>
  	<section class="row trustedContacts">
  		<p class="trustedContactsTxt">
  			Trusted Contacts
  		</p>
  	</section>
  	<section class="row signOut">
  		<p class="signOutTxt">
  			Sign Out
  		</p>
  	</section>
</section>
</main>